.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom-image {
  z-index: 9999 !important; /* 给的值是21，但是实测盖不住，直接999 */
}

:root {
  /* hero标题渐变色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #9df5b9, #78d993);
  --vp-home-hero-image-background-image: linear-gradient(135deg, #9df5b9 10%, #78d993 100%);
  --vp-home-hero-image-filter: blur(150px);
  --vp-button-brand-text: #253445;
  --vp-button-brand-bg: #78d993;
  --vp-button-brand-hover-text: #253445;
  --vp-button-brand-hover-bg: #9df5b9;
  --vp-button-brand-active-text: #253445;
  --vp-button-brand-active-bg: #78d993;
  --vp-c-brand-1: #78d993;
  --vp-c-brand-2: #9df5b9;
  --vp-c-brand-3: #78d993;
  --vp-c-sponsor: #78d993;
  --vp-home-hero-image-filter: blur(40px);
}

/* 禁止双指缩放 */
body,
html {
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -ms-touch-action: manipulation;
}
